body {
  background-color: #F5F5F5;
}

.bg-blue {
  background-color: #283e4a !important;
}

.white {
  color: white;
}

.btn-signin {
  background: url("../assets/images/btnsign.png");
  background-size: cover;
  width: 215px;
  height: 41px;
  border: none;
}

.h20 {
  height: 30vh;
}

.h80 {
  height: 50vh;
}

.bg-portada {
  background-size: cover;
}

.w100 {
  width: 100%;
}

.img-profile {
  margin-top: -2em;
}

.font-1 {
  font-size: 1em;
  line-height: 1;
}

.font-2 {
  font-size: 2em;
  line-height: 1;
}

.font-w2 {
  font-weight: 800;
  text-transform: uppercase;
  color: #283e4a;
}

hr {
  margin: 1em;
}

.h100 {
  height: 100vh;
}

.bg-1 {
  background-image: url("../assets/images/img2.jpg");
  background-size: cover;
  background-position: center bottom;
}

.opacity {
  background: rgba(0, 0, 0, 0.8);
}

.perfil-box {
  background-color: #0096b3;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

.cont-photo {
  display: none;
}

.cont-post {
  padding: 0.5rem;
  margin: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.container-post .img-post {
  width: 90px;
  height: 80px;
}

/* .text {
  padding: 2rem auto;
} */

@media (max-width: 450px) {
  .perfil-box {
    display: none;
  }
  .cont-photo {
    display: inline;
  }
  textarea#text {
    width: 69%;
    display: inline-block;
    position: relative;
    top: 1.5rem;
    left: 1rem;
  }
  .container-post .img-post {
  width: 60px;
  height: 50px;
  padding: 0;
}
}
